<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="TestCategory" value="SampleTest"/>
    <add key="NUnitConsolePath" value="packages\NUnit.ConsoleRunner.3.6.1\tools\nunit3-console.exe"/>
    <add key="TestsDllPath" value="Application.Tests\bin\Debug\Application.Tests.dll"/>
    <add key="XmlResultsPath" value="TestExecutorReportGenerator\bin\Debug\TestResult.xml"/>
    <add key="PicklesExepath" value="packages\Pickles.CommandLine.2.15.0\tools\pickles.exe"/>
    <add key="FeatureFilesPath" value="Application.Tests"/>
    <add key="ReportOutputpath" value="Results\TestReports/"/>
    <add key="BatFilePath" value="Lib\ExecuteTestsGenerateReport.bat"/>
  </appSettings>
  
</configuration>